@import "../../abstracts/colors";

.knowledge{
    
    margin-top: 30px;

    color: $text-color-light;

    @media (max-width: 733px) {
        padding: 0 20px;
    }

    &.dark{
        color: $text-color-dark;
    }

    h2{
        color: $highlight-color;
    }

    .flex{
        display: flex;
        align-items: center;
        gap: 20px;
        @media (max-width: 733px) {
            margin-bottom: 20px;
        }
        
    }
    
    .knowImgs{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
}