@import "abstracts/colors";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html{
    width: 100%;
    height: max-content;
    background: linear-gradient(334deg, #6b97f7, #7525e2, #f7137e);
    background-size: 180% 180%;
    animation: gradient-animation 6s ease infinite;
    overflow-x: hidden;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  
  max-width: 748px;
  margin: 10px auto;
  padding: 10px 10px;
  background: rgba(0, 0, 0, 0.301);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 30px;
  
  &.dark{
    background: rgba(255, 255, 255, 0.726);

    .toggleButon{
      background-color: $highlight-color;
      &:hover{
        background-color: #8b50df;
      }
    }

    h2, li::marker{
      color: #7525e2;
    }

    .blog_button{
      border: 1px solid $highlight-color !important;
      color: $highlight-color !important;

      &:hover{
        cursor: pointer;
        background-color: $highlight-color !important;
      }
    }

    .divider{
      background-color: black !important;
    }
  }

  h2, li::marker{
    color: #59bffa;
  }

  .toggleButon{
    position: absolute;
    right:0;
    border-radius: 999px;
    
    padding: 0.75rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    cursor: pointer;
  
    @media (max-width: 740px) {
      right: 10px !important;
    }
  
    background-color:#59bffa;
    &:hover{
      background-color: #237bad;
    }
    
  
    .icon{
      height: 1.75rem;
      width: 1.75rem;
      color: white;
    }
  }


  .father{
    margin-top: 10px;
    position: relative;
    overflow-x: hidden;
    @media (min-width: 1440px) {
      .offScreen{
        transform: translateX(100%);
        transition: transform 1s ease;
      
        &.show{
          transform: translateX(0) !important;
        }
      }
      
      .offScreen:nth-of-type(even){
        transform: translateX(-100%);
      }
    }

    .blog_button{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      margin-top: 20px;
      color: #59bffa;
      border: 1px solid #59bffa;
      width: 150px;
      height: 30px;
      font-weight: bold;
      text-decoration: none;
      background-color: transparent;
      &:hover{
        cursor: pointer;
        background-color: #59bffa;
        color: white;
      }
    }

    .divider{
      margin-top: 20px;
      height: 1px;
      color: black ;
      background-color: white ;
    }
  }
}






